

{{#unless user}}
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">许弘臻的小站</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/aboutme">About me</a></li>
					<li><a href="/messageboard">Message board</a></li>
					<li><a href="/add">Leave a message</a></li>
					<li class="active"><a href="/login">Manage login</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
{{/unless}}


<h2>Login</h2>
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
<form name="login" method="POST" action="/login" onsubmit="return validateForm()">
	<div>
		<label for="username">Username:</label>
		<input type="text" name="username" id="username" value="">
	</div>
	<div>
		<label for="password">Password:</label>
		<input type="password" name="password" id="password" value="">
	</div>
	<div>
		<input type="submit" value="Login">
	</div>
</form>

<script>
function validateForm() {
    const x = document.forms["login"]["username"].value;
    if (x.length < 8 || x.length > 20) {
				const div=document.getElementById('username');
				const header=document.createElement('h1');
				header.setAttribute("class","error");
				const content=document.createTextNode("Username must be between 8 and 20 characters");
        header.appendChild(content);
				div.parentNode.appendChild(header);
        return false;
    }
		const y = document.forms["login"]["password"].value;
		if (y.length<8||y.length>20) {
				const div=document.getElementById('password');
				const header=document.createElement('h1');
				header.setAttribute("class","error");
				const content=document.createTextNode("Password must be between 8 and 20 characters");
				header.appendChild(content);
				div.parentNode.appendChild(header);
				return false;
		}
}
</script>
